/* Шапка с данными пользователя */
.user-info {
    display: flex; /* Устанавливаем display flex - делает элемент контейнером и позволяет использовать flexbox*/
    align-items: center; /* Устанавливаем align-items center - центрирует содержимое по вертикали*/
    padding: 15px; /* Устанавливаем padding 15px - отступы внутри элемента*/
    background-color: rgba(0, 0, 0, 0.3); /* Устанавливаем background-color rgba(0, 0, 0, 0.3) - полупрозрачный черный фон*/
    position: absolute; /* Устанавливаем position absolute - позиционирует элемент относительно ближайшего позиционированного родителя*/
    top: 100px; /* Устанавливаем top 100px - отступ сверху*/
    right: 0; /* Устанавливаем right 0 - отступ справа*/
    z-index: 10; /* Устанавливаем z-index 10 - слой наложения*/
    border-radius: var(--border-radius) 0 0 var(--border-radius); /* Устанавливаем скругление нижних углов на 10px (верх-лево, верх-право, низ-право, низ-лево) */
}

/* Фото пользователя отображается в виде круга*/
.user-photo {
    width: 40px; /* Устанавливаем width 40px - ширина элемента*/
    height: 40px; /* Устанавливаем height 40px - высота элемента*/
    border-radius: 50%; /* Устанавливаем border-radius 50% - делает элемент круглым*/
    overflow: hidden; /* Устанавливаем overflow hidden - скрывает все, что выходит за пределы элемента*/
    margin-right: 10px; /* Устанавливаем margin-right 10px - отступ справа*/
    border: 2px solid var(--primary-color); /* Устанавливаем border 2px solid var(--primary-color) - рамка вокруг элемента*/
}

/* Фото пользователя отображается в виде круга*/
.user-photo img {
    width: 100%; /* Устанавливаем width 100% - ширина элемента*/
    height: 100%; /* Устанавливаем height 100% - высота элемента*/
    object-fit: cover; /* Устанавливаем object-fit cover - обрезка изображения*/
}

/* Контейнер с данными пользователя*/
.user-details {
    display: flex; /* Устанавливаем display flex - делает элемент контейнером и позволяет использовать flexbox*/
    flex-direction: column; /* Устанавливаем flex-direction column - делает элементы контейнера вертикальной колонкой*/
}

/* Имя пользователя*/
.username {
    font-size: 12px; /* Устанавливаем font-size 16px - размер шрифта*/
    font-weight: bold; /* Устанавливаем font-weight bold - жирность шрифта*/
    color: var(--text-color); /* Устанавливаем color var(--primary-color) - цвет текста*/
}

/* Счет пользователя*/
.score {
    font-size: 12px; /* Устанавливаем font-size 14px - размер шрифта*/
    color: var(--text-color); /* Устанавливаем color var(--primary-color) - цвет текста*/
}

/* Заголовок приложения */
.app-title {
    text-align: center;
    color: var(--text-color);
    font-size: 32px;
    font-weight: bold;
    animation: glow 3s ease-in-out infinite;
    letter-spacing: 2px;
    margin-bottom: 20px;
    z-index: 10;
    position: relative;
}

/* Заголовок приложения */
.app-title h1 {
    font-size: 32px; /* Устанавливаем font-size 36px - размер шрифта*/
    color: var(--text-color); /* Устанавливаем color var(--secondary-color) - цвет текста*/
    margin-bottom: 10px; /* Устанавливаем margin-bottom 10px - отступ снизу*/
    letter-spacing: 2px; /* Устанавливаем letter-spacing 2px - межбуквенный интервал*/
    animation: glow 3s ease-in-out infinite; /* Устанавливаем animation glow 3s ease-in-out infinite - анимация свечения*/
}

/* Центральный контейнер с монетой */
.center-container {
    margin-top: 200px;
    height: 100vh;
    flex: 1; /* Устанавливаем flex 1 - заставляет элемент занимать все доступное пространство */
    display: flex; /* Устанавливаем display flex - делает элемент flex-контейнером */
    flex-direction: column; /* Устанавливаем flex-direction column - делает элементы контейнера вертикальной колонкой*/
    justify-content: center; /* Центрирование содержимого по вертикали*/
    align-items: center; /* Центрирование содержимого по горизонтали*/
    position: relative; /* Устанавливаем position relative - позиционирует элемент относительно ближайшего позиционированного родителя*/
    text-align: center; /* Устанавливаем text-align center - центрирует текст*/
    gap: 20px; /* Добавляем отступ между элементами внутри контейнера */
}

/* Анимация монеты */
.coin-animation {
    width: 150px; /* Устанавливаем width 150px - ширина элемента*/
    height: 150px; /* Устанавливаем height 150px - высота элемента*/
    position: relative; /* Устанавливаем position relative - позиционирует элемент относительно ближайшего позиционированного родителя*/
    animation: float 2s ease-in-out infinite; /* Устанавливаем animation float 2s ease-in-out infinite - анимация плавания монеты*/
    margin-bottom: 0; /* Убираем нижний отступ, будем использовать gap */
}

/* Анимация монеты */
.coin-animation img {
    width: 100%; /* Устанавливаем width 100% - ширина элемента*/
    height: 100%; /* Устанавливаем height 100% - высота элемента*/
    object-fit: contain; /* Устанавливаем object-fit contain - обрезка изображения*/
}

/* Анимация парения монеты */
@keyframes float {
    0% {
        transform: translateY(0px); /* Устанавливаем transform translateY(0px) - смещение по вертикали*/
    }
    50% {
        transform: translateY(-20px); /* Устанавливаем transform translateY(-20px) - смещение по вертикали*/
    }
    100% {
        transform: translateY(0px); /* Устанавливаем transform translateY(0px) - смещение по вертикали*/    
    }
}

/* Анимация вращения монеты */
@keyframes spin {
    0% {
        transform: rotateY(0deg); /* Устанавливаем transform rotateY(0deg) - вращение по вертикали*/
    }
    100% {
        transform: rotateY(360deg); /* Устанавливаем transform rotateY(360deg) - вращение по вертикали*/
    }
}

/* Анимация свечения заголовка */
@keyframes glow {
    0% {
        text-shadow: 0 0 10px rgba(64, 167, 227, 0.7); /* Используем основной цвет */
    }
    25% {
        text-shadow: 0 0 20px rgba(64, 167, 227, 0.8), 0 0 30px rgba(64, 167, 227, 0.6);
    }
    50% {
        text-shadow: 0 0 30px rgba(64, 167, 227, 0.9), 0 0 40px rgba(64, 167, 227, 0.7), 0 0 50px rgba(64, 167, 227, 0.5);
    }
    75% {
        text-shadow: 0 0 20px rgba(64, 167, 227, 0.8), 0 0 30px rgba(64, 167, 227, 0.6);
    }
    100% {
        text-shadow: 0 0 10px rgba(64, 167, 227, 0.7);
    }
}

/* Адаптивный дизайн - уменьшаем размеры элементов для мобильных устройств с экраном меньше 768px */
@media (max-width: 768px) {
    .app-title  {
        font-size: 28px; /* Уменьшаем размер заголовка для лучшей читаемости на маленьких экранах */
    }
    
    .coin-animation {
        width: 120px; /* Уменьшаем размер анимированной монеты, чтобы она не занимала слишком много места */
        height: 120px; /* Сохраняем пропорции монеты 1:1 */
    }
}

/* Стили кнопок */
.menu-buttons {
    bottom: 50px; 
    display: flex; /* Устанавливаем display flex - делает элемент контейнером и позволяет использовать flexbox*/
    flex-direction: column; /* Устанавливаем flex-direction column - делает элементы контейнера вертикальной колонкой*/
    align-items: center; /* Устанавливаем align-items center - центрирует содержимое по горизонтали*/
}

/* Кнопка "Играть" при нажатии*/
.play-button:active {
    transform: translateY(0); /* Устанавливаем transform translateY(0) - смещение по вертикали*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
} 